.toggleButton {
  font-family: 'Dune_rise', sans-serif;
  cursor: pointer;
  transition: color 0.3s ease;
  border: none;
  font-size: 1.05rem;
  font-weight: 900;
  
  padding: 11px;
  
}

.toggleButton:hover {
  transform: scale(1.05);
}

.toggleButton:focus {
  outline: 2px solid rgba(25, 211, 180, 0.191);
  outline-offset: 2px;
}